<nav class="bg-gray-800 text-white shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex justify-between">
      <div class="flex space-x-4">
        <!-- логотип -->
        <div>
            <span class="flex items-center py-5 px-2 text-white-700">Мой Сайт</span>
        </div>
        <!-- основные ссылки -->
        <div class="hidden md:flex items-center space-x-1">
          <a routerLink="#" class="py-5 px-3 hover:bg-gray-700">Главная</a>
          <a routerLink="#" class="py-5 px-3 hover:bg-gray-700">О нас</a>
          <a routerLink="#" class="py-5 px-3 hover:bg-gray-700">Контакты</a>
        </div>
      </div>
    </div>
  </div>
</nav>
