<nav class="text-white shadow-lg">
  <div class="max-w-6xl mx-auto px-4">
    <div class="flex items-center justify-between">
      <div class="flex space-x-4 items-center">
        <!-- логотип -->
        <div class="flex items-center py-5 px-2 text-white-700 ">
            <div>
              <img src="#" alt="Logo">
            </div>
            <span class="">4Paws</span>
        </div>
        <!-- основные ссылки -->
        <div class="hidden md:flex items-center space-x-1">
          <a routerLink="#" class="py-5 px-3 hover:bg-amber-300">Главная</a>
          <a routerLink="#" class="py-5 px-3 hover:bg-amber-300">О нас</a>
          <a routerLink="#" class="py-5 px-3 hover:bg-amber-300">Вопросы и Ответы</a>
          <a routerLink="#" class="py-5 px-3 hover:bg-amber-300">Контакты</a>
          <a routerLink="#" class="py-5 px-3 hover:bg-amber-300">Услуги</a>
        </div>
      </div>

      <div>
        <div class="example-button-container">

        </div>
      </div>
    </div>
  </div>
</nav>
