<div class="flex min-w-full flex-wrap justify-center gap-5 md:justify-between md:items-top mt-20 mb-20 mx-4 rounded-2xl border-2 border-gray-300 p-2">
  <div class="flex flex-col max-w-72 items-center mx-8 md:flex-row md:w-1/4">
    <div class="flex m-3 p-4 rounded-xl bg-hoverOrange justify-center items-center">
      <div class="font-bold text-4xl"><span>{{dateOfFounding}}</span></div>
    </div>
    <div><span class="font-light">Год основания нашего приюта для животных</span></div>
  </div>
  <div class="flex flex-col max-w-72 items-center mx-8 md:flex-row md:w-1/4">
    <div class="flex m-3 p-4 rounded-xl bg-hoverOrange justify-center items-center">
      <div class="font-bold text-4xl"><span>{{animalsFoundedHouse}}+</span></div>
    </div>
    <div><span class="font-light">Животных нашли свой новый дом</span></div>
  </div>
  <div class="flex flex-col max-w-72 items-center mx-8 md:flex-row md:w-1/4">
    <div class="flex m-3 p-4 rounded-xl bg-hoverOrange justify-center items-center">
      <div class="font-bold text-4xl"><span>{{animalsInWaiting}}+</span></div>
    </div>
    <div><span class="font-light">Животных ожидают своего хозяина</span></div>
  </div>
  <div class="flex flex-col max-w-72 items-center mx-8 md:flex-row md:w-1/4">
    <div class="flex m-3 p-4 rounded-xl bg-hoverOrange justify-center items-center">
      <div class="font-bold text-4xl"><span>{{numberVolunteers}}+</span></div>
    </div>
    <div><span class="font-light">Волонтеров, помогающих приюту</span></div>
  </div>
</div>
