<div class="flex justify-between items-top mt-20 mb-20 mx-4">
  <div class="max-w-4xl container mt-16 align-middle">
    <div class="text-6xl font-extrabold">
      <p>{{'header-panel.title_1' | translate}}<br>{{'header-panel.title_2' | translate}}<span class="text-lightOrange">{{'header-panel.title_3' | translate}}</span></p>
    </div>
    <div class="text-base font-light text-gray-500 mt-10">
      <p>
        {{'header-panel.info_1' | translate}}<br> {{'header-panel.info_2' | translate}}
      </p>
    </div>
    <div class="flex items-center mt-10">
      <button type="button" (click)="modalService.openClaim()"
              class="focus:outline-none text-white bg-lightOrange hover:bg-hoverOrange hover:text-black focus:ring-4 focus:ring-yellow-300 font-bold rounded-lg text-xl py-5 px-16 me-2 mb-2 dark:focus:ring-yellow-900 transition-colors duration-300 ease-in-out">
        {{'buttons.getAnimal' | translate}}
      </button>
      <div class="flex ml-4">
        <a href="{{this.globalService.global.instagram_url}}">
        <div class="flex w-14 h-14 m-3 rounded-full bg-amber-400 justify-center items-center transition duration-300 ease-in-out hover:bg-amber-600">
          <svg class="w-[40px] h-[40px] text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
            <path fill="currentColor" fill-rule="evenodd" d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z" clip-rule="evenodd"/>
          </svg>
        </div>
        </a>
        <a href="{{this.globalService.global.telegram_url}}">
          <div  class="flex w-14 h-14 m-3 rounded-full bg-amber-400 justify-center items-center transition duration-300 ease-in-out hover:bg-amber-600">
            <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="40" height="40" viewBox="0 0 50 50">
              <path d="M25,2c12.703,0,23,10.297,23,23S37.703,48,25,48S2,37.703,2,25S12.297,2,25,2z M32.934,34.375	c0.423-1.298,2.405-14.234,2.65-16.783c0.074-0.772-0.17-1.285-0.648-1.514c-0.578-0.278-1.434-0.139-2.427,0.219	c-1.362,0.491-18.774,7.884-19.78,8.312c-0.954,0.405-1.856,0.847-1.856,1.487c0,0.45,0.267,0.703,1.003,0.966	c0.766,0.273,2.695,0.858,3.834,1.172c1.097,0.303,2.346,0.04,3.046-0.395c0.742-0.461,9.305-6.191,9.92-6.693	c0.614-0.502,1.104,0.141,0.602,0.644c-0.502,0.502-6.38,6.207-7.155,6.997c-0.941,0.959-0.273,1.953,0.358,2.351	c0.721,0.454,5.906,3.932,6.687,4.49c0.781,0.558,1.573,0.811,2.298,0.811C32.191,36.439,32.573,35.484,32.934,34.375z"></path>
            </svg>
          </div>
        </a>

      </div>

    </div>

  </div>
  <div class="max-w-3xl">
    <img class="rounded-3xl" ngSrc="./assets/images/mainAnimals.png" height="662" width="672">
  </div>
</div>

<app-modal *ngIf="modalService.isVisibleClaim$ | async" class="z-50">
  <app-modal-claims></app-modal-claims>
</app-modal>

