<div class="flex flex-wrap justify-center gap-5 md:justify-between md:items-top mt-20 mb-20 mx-4 rounded-2xl border-2 border-gray-300 p-2">
  <div class="flex flex-col max-w-72 items-center mx-8 md:flex-row md:w-1/4">
    <div class="flex m-3 h-24 w-52 rounded-xl bg-hoverOrange justify-center items-center">
      <img class="p-5" src="assets/images/4.svg" alt="">
    </div>
    <div><span class="font-light">{{'small-information.vaccinated' | translate}}</span></div>
  </div>
  <div class="flex flex-col max-w-72 items-center mx-8 md:flex-row md:w-1/4">
    <div class="flex m-3 h-24 w-52 rounded-xl bg-hoverOrange justify-center items-center">
      <img class="p-6" src="assets/images/3.svg" alt="">
    </div>
    <div><span class="font-light">{{'small-information.trained' | translate}}</span></div>
  </div>
  <div class="flex flex-col max-w-72 items-center mx-8 md:flex-row md:w-1/4">
    <div class="flex m-3 h-24 w-52 rounded-xl bg-hoverOrange justify-center items-center">
      <img class="p-6" src="assets/images/2.svg" alt="">
    </div>
    <div><span class="font-light">{{'small-information.founded' | translate}}</span></div>
  </div>
  <div class="flex flex-col max-w-72 items-center mx-8 md:flex-row md:w-1/4">
    <div class="flex m-3 h-24 w-52 rounded-xl bg-hoverOrange justify-center items-center">
      <img class="p-6" src="assets/images/1.svg" alt="">
    </div>
    <div><span class="font-light">{{'small-information.working' | translate}}</span></div>
  </div>
</div>
